/* sakura-vios.css v1.0.0
 * ================
 * Based on sakura.css (https://github.com/oxalorg/sakura)
 */

/* Body */

$root-unit: 0.0625rem;
$nav-height: 15vh;



html {
    font-family: $font-family-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    padding: 2vh 2vw;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 100vh;
    color: $col-txt;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include body1();
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: $col-bg;
    padding: 0 2vw;
    @include z1();
}


@media (max-width: 684px) {
    $root-unit: $root-unit * 0.85;
}

@media (max-width: 382px) {
    $root-unit: $root-unit * 0.75;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    color: $col-h;
    border-bottom: $col-h-border;
    @include word-wrap;
}

h1 {
    font-size: 96 * $root-unit;
    letter-spacing: -1.5 * $root-unit;
    font-weight: 100;
}

h2 {
    font-size: 60 * $root-unit;
    letter-spacing: -0.5 * $root-unit;
    font-weight: 100;
}

h3 {
    font-size: 48 * $root-unit;
    letter-spacing: 0;
    font-weight: normal;
}

h4 {
    font-size: 34 * $root-unit;
    letter-spacing: 0.25rem;
    font-weight: normal;
}

h5 {
    font-size: 24 * $root-unit;
    letter-spacing: 0;
    font-weight: normal;
}

h6 {
    font-size: 20 * $root-unit;
    letter-spacing: 0.15rem;
    font-weight: 600;
}

h1 > h2 {
    font-size: 16 * $root-unit;
    letter-spacing: 0.15rem;
    font-weight: normal;
}

h2 > h3 {
    font-size: 14 * $root-unit;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

small, sub, sup {
    font-size: 75%;
}

nav {
    width: 100%;
    display: inline-flex;
    max-height: $nav-height;
    height: $nav-height;
    min-height: $nav-height;
    align-items: center;
    margin: 1vh 0;
    padding-left: 16px;
    color: $col-txt-alt;
    background-color: $col-bg-alt;
    @include z2();
}


hr {
    border-color: $col-hr;
    border-style: solid;
    border-width: 1px;
    width: 61.8%;
}

strong {
    color: $col-h;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: $col-link;

    &:hover {
        color: $col-link-hover;
        border-bottom: 2px solid $col-link-hover;
    }
}

ul {
    padding-left: 1.4em;
}

li {
    margin-bottom: 0.4em;
}

blockquote {
    font-style: italic;
    margin-left: 1.5em;
    padding-left: 1em;
    border-left: 3px solid $col-quote;
}

img {
    max-width: 100%;
}

nav > img   {
    padding-right: 8px;
}

nav > h2   {
    min-width: 20vw;
}

nav > ul  {
    font-size: 12 * $root-unit;
    letter-spacing: 0.4px;
    flex-direction: row;
    width: fill-available;
    display: inline-flex;
    justify-content: right;
    align-self: center;
    list-style-type: none;
}


nav > ul > li {
    font-size: 12 * $root-unit;
    letter-spacing: 0.4px;
}


/* Pre and Code */

pre, code {
    background-color: $code-bg;
    color: $code-fg;
}

pre {
    display: block;
    padding: 1em;
    overflow-x: auto;
}

code {
    font-size: 0.9em;
    padding: 0 0.5em;
    white-space: pre-wrap;
}

pre > code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
}

/* Tables */

table {
    background: transparent;
    border-radius: $border-radius;
    border-collapse: collapse;
    padding: 8px;
    width: 100%;
    @include z2();
    margin-bottom: 4vh;
}

td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    @include body2();
}

td > img {
    padding: 0;
}

tr:nth-child(odd) {
    background: $col-bg-alt;
}

tr:hover td {
    background: $col-link-hover;
}

td:last-child {
    border-right: 0px;
}

td:nth-child(odd) {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}


th {
    color: $col-h;
    text-align: left;
    vertical-align: middle;
    padding: 8px * 2 + 4px;
    @include body1();
}

th:first-child {
    border-top-left-radius: $border-radius;
}

th:last-child {
    border-top-right-radius: $border-radius;
    border-right: none;
}

tr {
    cursor: pointer;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

td:first-child {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: $border-radius;
}

tr:last-child td:last-child {
    border-bottom-right-radius: $border-radius;
}

/* Buttons, forms and input */

input, textarea {
    border: $border-size solid $col-h;

    &:focus {
        border: 1px solid $col-link;
    }
}

textarea {
    width: 100%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 1px;
    border: 1px solid $col-bg-alt;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 14 * $root-unit;
    letter-spacing: 1.25 * $root-unit;
    text-transform: uppercase; 

    &[disabled] {
        cursor: default;
        @include txt-disabled();
    }

    &:focus, &:hover {
        background-color: $color-bg-accent;
        border-color: $color-bg-accent;
        color: $col-h;
        outline: 0;
        @include z4();
    }
    @include z1();
    @include hover-animation();
}

textarea, select, input[type] {
    color: $color-text;
    padding: 8px;
    margin-bottom: 8px;
    background-color: $color-bg;
    border: 1px solid $color-bg;
    border-radius: $border-radius;
    @include z1();
    box-sizing: border-box;

    &:focus {
        border: 1px solid $color-strong;
        outline: 0;
    }
}

input[type="checkbox"]:focus {
    outline: 1px dotted $color-strong;
    @include z1();
}

label, legend, fieldset {
    display: block;
    margin-bottom: .5rem;
    @include body2();
}

