$color-bg-accent2: #24292e;
$color-bg-accent: #24292e;
$color-faded: #24292e;
$color-strong: #24292e;
$color-dark: #24292e;
$color-mid: #24292e;
$color-main: #24292e;
$color-bg: #ffffff;
$color-bg-mid: #ffffff;
$color-text: #24292e;


$col-txt: #24292e;
$col-txt-alt: #2f363c;
$col-bg: #ffffff;
$col-bg-alt: #f7f7f7;
$col-h: #d73a49;
$col-h-border: 1px solid #ebebeb;
$col-hr: #d9d9d9;
$col-link: #005cc5;
$col-link-hover: #0074f8;
$col-select: #ffffff;
$col-select-bg: #077cf9;
$col-bullet: #005cc5;
$col-quote: #032f62;

$border-size: 1px;
$border-radius: 8px;

$main-fonts: Roboto, Noto Sans, Segoe UI, Ubuntu, sans-serif;

$font-family-sans-serif: $main-fonts;
$font-family-serif: $main-fonts;

@import "mini-reset";
@import "main";
