html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre, code {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  -webkit-text-decoration-skip: objects;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
}

button, input {
  overflow: visible;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

/* sakura-vios.css v1.0.0
 * ================
 * Based on sakura.css (https://github.com/oxalorg/sakura)
 */
/* Body */
html {
  font-family: Roboto, Noto Sans, Segoe UI, Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  padding: 2vh 2vw;
  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  height: 100vh;
  color: #24292e;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #ffffff;
  padding: 0 2vw;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Noto Sans, Segoe UI, Ubuntu, sans-serif;
  color: #d73a49;
  border-bottom: 1px solid #ebebeb;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1 {
  font-size: 6rem;
  letter-spacing: -0.09375rem;
  font-weight: 100;
}

h2 {
  font-size: 3.75rem;
  letter-spacing: -0.03125rem;
  font-weight: 100;
}

h3 {
  font-size: 3rem;
  letter-spacing: 0;
  font-weight: normal;
}

h4 {
  font-size: 2.125rem;
  letter-spacing: 0.25rem;
  font-weight: normal;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 0;
  font-weight: normal;
}

h6 {
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
}

h1 > h2 {
  font-size: 1rem;
  letter-spacing: 0.15rem;
  font-weight: normal;
}

h2 > h3 {
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

small, sub, sup {
  font-size: 75%;
}

nav {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-height: 15vh;
  height: 15vh;
  min-height: 15vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1vh 0;
  padding-left: 16px;
  color: #2f363c;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

hr {
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px;
  width: 61.8%;
}

strong {
  color: #d73a49;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: #005cc5;
}

a:hover {
  color: #0074f8;
  border-bottom: 2px solid #0074f8;
}

ul {
  padding-left: 1.4em;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 3px solid #032f62;
}

img {
  max-width: 100%;
}

nav > img {
  padding-right: 8px;
}

nav > h2 {
  min-width: 20vw;
}

nav > ul {
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-item-align: center;
      align-self: center;
  list-style-type: none;
}

nav > ul > li {
  font-size: 0.75rem;
  letter-spacing: 0.4px;
}

/* Pre and Code */
pre {
  background-color: #f7f7f7;
  display: block;
  padding: 1em;
  overflow-x: auto;
}

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f7f7f7;
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}

/* Tables */
table {
  background: transparent;
  border-radius: 8px;
  border-collapse: collapse;
  padding: 8px;
  width: 100%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 4vh;
}

td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-size: 0.875rem;
  letter-spacing: 0.01562rem;
}

td > img {
  padding: 0;
}

tr:nth-child(odd) {
  background: #f7f7f7;
}

tr:hover td {
  background: #0074f8;
}

td:last-child {
  border-right: 0px;
}

td:nth-child(odd) {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

th {
  color: #d73a49;
  text-align: left;
  vertical-align: middle;
  padding: 20px;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
}

th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
  border-right: none;
}

tr {
  cursor: pointer;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

td:first-child {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

/* Buttons, forms and input */
input, textarea {
  border: 1px solid #d73a49;
}

input:focus, textarea:focus {
  border: 1px solid #005cc5;
}

textarea {
  width: 100%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 1px;
  border: 1px solid #f7f7f7;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.875rem;
  letter-spacing: 0.07812rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
  cursor: default;
  opacity: 0.38;
}

.button:focus, .button:hover, button:focus, button:hover, input[type="submit"]:focus, input[type="submit"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="button"]:focus, input[type="button"]:hover {
  background-color: #24292e;
  border-color: #24292e;
  color: #d73a49;
  outline: 0;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

textarea, select, input[type] {
  color: #24292e;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea:focus, select:focus, input[type]:focus {
  border: 1px solid #24292e;
  outline: 0;
}

input[type="checkbox"]:focus {
  outline: 1px dotted #24292e;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

label, legend, fieldset {
  display: block;
  margin-bottom: .5rem;
  font-size: 0.875rem;
  letter-spacing: 0.01562rem;
}
/*# sourceMappingURL=sakura-vios.css.map */